body {
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 1.6;
}

.COVID {
  min-height: 100vh;
  text-align: center;
  // font-size: calc(10px + 2vmin);
  &-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

  }
}

select {
  max-width: 50%;
  &:focus {
    border-color: $color-secondary-orange;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .COVID-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

