// ========== BRAND COLORS

// Primary
$color-primary-navy: #164C69;
$color-primary-red: #F56259;

// Secondary
$color-secondary-orange: #F56C3E;
$color-secondary-yellow: #FBB040;


// Neutrals
$color-black: #3B4153;
$color-grey: #8E8E8E;
$color-grey-light: #E5E5E5;
$color-white-grey: #FAFAFA;